<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestServiceWCF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <TestServiceWCF.Properties.Settings>
            <setting name="TestJSON" serializeAs="String">
                <value>{
	"fechaCita":"21/04/2017",
	"tienda":"T001",
	"cantidadTotal":10,
	"proveedorId": 33,
	"usuarioId":"15e814e8-0967-46e1-9a9d-fdfb7a1f2d4b",
	"asnItems":[{
		"numeroPosicion":"0015",
		"ordenNumeroDocumento":"0001",
		"numeroMaterial":"MAT01",
		"nombreMaterial":"Zapatos",
		"cantidad": 5
	}]
}</value>
            </setting>
        </TestServiceWCF.Properties.Settings>
    </applicationSettings>
</configuration>