@{
    ViewBag.Title = "Confirmar correo electrónico";
}

<h1>@ViewBag.Title.</h1>
<div>
    <p>
        Debe confirmar su correo electrónico @ViewBag.Email antes de iniciar sesión. @Html.ActionLink("Haga clic aquí para iniciar sesión", "Login", "Account")
    </p>
</div>
