@{
    ViewBag.Title = "Recuperación de Contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Compruebe su correo electrónico @ViewBag.Email para restablecer la contraseña.
    </p>
</div>