@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account",  new { area = "" },FormMethod.Post,  new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Bienvenido " + User.Identity.GetUserName() + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a id="registerLink" href="@Url.Action("Register", "Account")"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrese</a></li>*@
        <li><a id="loginLink" href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesion</a></li>
    </ul>
}
