body {
    font-family: Futura, "Trebuchet MS", Arial, Helvetica, sans-serif;    
}

.panel-default>.panel-heading {
    background: #f0f0f0;
    color: #000;
}
.btn-primary {
    background: #333;
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover  {
    background: #000;
    border-color: #000;
}

a {
    color: #000;
}
a:hover, a:focus {
    color: #555;
}

h1, h2 {
    color: #000;
}

.footer {
    height: 30px;
    padding: 5px;
    background: #f0f0f0;
    color: #000;
}
.footer p{
    margin: auto;
    font-weight: bold;
}
.navbar-main {
    background: #f0f0f0;
    border-color: #fff;
}
.navbar-main .navbar-nav>li>a {
    color: #000;
}
.navbar-main .navbar-nav>li>a:hover, .navbar-main .navbar-nav>li>a:focus{
    color: #555;
}
.navbar-brand {
    padding: 10px 10px;
}
.navbar-main .navbar-nav > .active > a, .navbar-main .navbar-nav > .active > a:focus, .navbar-main .navbar-nav > .active > a:hover {
    background: #ccc;
    color: #000;    
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #000;    
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
        border-color: #555;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #555;
}
.form-control:focus {
    border-color: #555;
    box-shadow: 0px 1px 1px #000000 inset, 0px 0px 8px #555555;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(85, 85, 85, 0.5);
}
.panel {
    -ms-border-radius: 0;
    border-radius: 0;
}

.btn {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

/*.btn-warning {
    background: #B8B8B8;
    border-color: #999;
}
.btn-warning.active, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover{
    background: #555;
    border-color: #222;
}*/

.btn-riel.btn-primary {
    background: #66aaaa;
}
#menu > li.active > a {
    background: #555;
}