body {
    padding-bottom: 40px;
}

.navbar-main {
    min-height: 80px;
    background-color: #fff;
    background-image: none;
    border-color: #66aaaa;
}

.navbar-main .navbar-nav > .active > a,
.navbar-main .navbar-nav > .active > a:focus,
.navbar-main .navbar-nav > .active > a:hover {
    background-color: #66aaaa;
    background-image: none;
}

.navbar-main .nav {
    margin-top: 15px;
}

.navbar-main .navbar-nav>li>a {
    color: #66aaaa;
}

.navbar-main .navbar-nav>li>a:focus {
    color: #22aaaa;
}

.navbar-main .navbar-nav>li>a:hover {
    color: #22aaaa;
}

.form-legend {
    margin-top: 0px;
    border: solid 1px #ccc;
    padding-left: 20px;
    font-size: 1em;
    width: 100%;
    color: #fff;
    background: #66aaaa;
}

.btn-primary {
    color: #fff;
    background-color: #66aaaa;
    border-color: #ccc;
    background-image: none;
}

    .btn-primary:hover, .btn-primary:focus {
        background-color: #22aaaa;
        border-color: #ccc;
    }

.pagination > li > a, .pagination > li > span {
    color: #000;
}


.jumbotron {
    background-color: #eeeedd;
}