@{
    ViewBag.Title = "Home Page";

    var photoSlides = Directory.GetFiles(Server.MapPath("~/assets/img/Photoslide"), "*.jpg")
                                     .Select(Path.GetFileName)
                                     .ToArray();
}
<style>

    main > div {
        display: none;
    }
</style>
<main>
    <div id="contenido">
        <div id="content-text" style="background: #f0f0f0;font-weight:bold;font-size:18px;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">Estimado proveedor: favor de checar sus devoluciones de tiendas (NDEV) en el apartado devoluciones de tienda, si tienes alguna duda favor de mandar correo a fernado.moreno@impuls.com.mx  “y/o”  devoluciones_leon@impuls.com.mx</div>
    </div>
    <div id="contenido1">
        <div id="content-text4" style="background: #f0f0f0;font-weight:bold;font-size:18px;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;"><p style="text-align:center">Estimado proveedor: favor de cargar sus facturas al portal diariamente</p></div>
    </div>
</main>
<div>
    <h2 style="color: white"> </h2>
    <hr>
</div>
<div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">

        @for (var i = 0; i < photoSlides.Length; i++)
        {
            var active = "";
            if (@i == 0)
            {
                active = "active";
            }

            <li data-target="#carousel-home" data-slide-to="@i" class="@active"></li>
        }

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        @for (var i = 0; i < photoSlides.Length; i++)
        {
            var active = "";
            if (@i == 0)
            {
                active = "active";
            }
            <div class="item @active">
                <img src="~/assets/img/Photoslide/@photoSlides[i]" width="1170" alt="photosslide">
            </div>
        }


    </div>

</div>
<img src="@Url.Content("~/assets/img/marcas-black.png")" style="display: none;" class="img-responsive center-block" width="100%">


@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            function mostrar(el, time, infi = false) {
                let p = document.querySelectorAll(el);
                let i = 0;
                // ejecutamos un intervalo de tiempo para los elementos
                let interval = setInterval(() => {
                    // validamos que no sea el elemento 0 para aplicarle el none al anterior!
                    if (i != 0) p[i - 1].style.display = "none";
                    //validamos si es igual al lenght para finalizar el bucle
                    if (i == p.length) {
                        //retornamos i a 0
                        i = 0;
                        // limpiamos el intervalor para que no se ejecute mas si no es infinito
                        if (!infi) clearInterval(interval)
                        // retornamos para finalizar la funcion
                        return;
                    }
                    // aplicamos el display block
                    p[i].style.display = "block";
                    // aumentamos i en 1
                    i++;
                }, time)
            }

            mostrar('main div[id^="contenido"]', 4000, true);
        }
    </script>
}