@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2 class="form-signin-heading" style="color: white">  '</h2>
    <hr>
</div>
<img src="@Url.Content("~/assets/img/logo-grupo-nazan.png")" class="img-responsive center-block" width="500px">
