@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PPGZ</h1>
    <p class="lead">Bienvenido al portal de proveedores del Grupo Nazan.</p>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-large"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrese</a></p>
</div>
