@{
    ViewBag.Title = "AVISO DE PRIVACIDAD";

}


<h1 class="text-center">@ViewBag.Title</h1>
<p>
    Conforme a lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los
    Particulares, su Reglamento y demás disposiciones aplicables de la legislación mexicana vigente en materia
    de Protección de Datos, NAZAN COMERCIALIZADORA DE CALZADO, S.A. DE C.V. pone a disposición del
    USUARIO el sitio web https://proveedores.impuls.com.mx, el presente AVISO DE PRIVACIDAD respecto al
    tratamiento de DATOS PERSONALES.
</p>
<p>
    Tras la lectura del AVISO DE PRIVACIDAD, si el USUARIO continúa utilizando el SITIO WEB, estará
    manifestando la aceptación expresa y voluntaria respecto al tratamiento de sus DATOS PERSONALES. Si el
    USUARIO está en desacuerdo con el AVISO DE PRIVACIDAD deberá salir del SITIO WEB.
</p>

<h2 class="text-center">I. DEFINICIONES</h2>
<p><strong> AVISO DE PRIVACIDAD:</strong> el presente documento.</p>
<p><strong>COOKIES:</strong> Archivos de texto que son descargados automáticamente y almacenados en el disco duro del equipo de cómputo del USUARIO al navegar en el SITIO WEB y que permiten recordar al servidor de Internet algunos datos sobre el USUARIO, entre ellos, sus preferencias para la visualización de las páginas en ese servidor, nombre y contraseña.</p>
<p><strong>DATOS PERSONALES:</strong> datos de identificación del USUARIO, así como los que éste ingrese voluntariamente cuando le sean requeridos por el SITIO WEB.</p>
<p><strong>LEY:</strong> la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.</p>
<p><strong>SITIO WEB:</strong> el hipervínculo https://proveedores.impuls.com.mx</p>
<p><strong>USUARIO:</strong> persona física identificable que acceda al SITIO WEB y comunique sus datos personales a través del mismo o de los servicios disponibles.</p>
<p><strong>IMPULS:</strong> NAZAN COMERCIALIZADORA DE CALZADO, S.A. DE C.V.</p>
<p><strong>WEB BEACONS:</strong> Imágenes insertadas en el SITIO WEB que pueden ser utilizadas para monitorear el comportamiento del USUARIO, como almacenar información sobre la dirección IP del mismo, el tiempo de interacción el SITIO WEB y el tipo de navegador utilizado, entre otros.</p>

<h2 class="text-center">II. IDENTIDAD Y DOMICILIO DE IMPULS</h2>
<p>IMPULS, con domicilio en Juan I. Ramón 305, Col. Centro, Monterrey, N.L. c.p. 64000, es responsable del tratamiento de los DATOS PERSONALES del USUARIO a partir del momento en que éste voluntariamente se los comunica.</p>

<h2 class="text-center">III. CONTACTO</h2>
<p>
    Encargado de DATOS PERSONALES: Jesús Manuel Sosa Vázquez <br />
    Domicilio: Blvd. Aeropuerto #550, Col. Santa Julia, León Gto, C.P. 37530<br />
    Correo electrónico: jsosa@impuls.com.mx<br />
    Teléfono: (52) 01 (477) 711 09 29
</p>
<h2 class="text-center">IV. FINALIDAD DE RECABAR Y UTILIZAR LOS DATOS PERSONALES</h2>
<p>
    Los DATOS PERSONALES solicitados y recabados a través del SITIO WEB serán utilizados para las siguientes finalidades necesarias del servicio solicitado por el USUARIO:
    <ul>

        <li>Administración de Proveedores</li>
        <li>Consulta de Órdenes de Compra</li>
        <li>Control de Citas</li>
        <li>Comprobante de Recibo</li>
        <li>Impresión de Etiquetas</li>
        <li>Administración de Facturas</li>
        <li>Mensajes Institucionales</li>
        <li>Administración de Usuarios</li>
        <li>Administración de Perfiles</li>
        <li>Cuentas por Pagar, Pagos Pendientes, Devoluciones</li>
        <li>Reporte Proveedores</li>
    </ul>
</p>
<p>
    Adicionalmente, los DATOS PERSONALES del USUARIO serán utilizados para brindar una mejor atención en cuanto a la oferta, calidad, cambios, órden(es) de compra, y en general en lo referente a poder dar cumplimiento a obligaciones contraídas entre proveedores y NAZAN COMERCIALIZADORA DE CALZADO, S.A. DE C.V.
</p>
<p>
    En caso de que el USUARIO no desee que los DATOS PERSONALES sean tratados para los fines adicionales, deberá solicitar la limitación de su uso vía correo electrónico de CONTACTO.
</p>


<h2 class="text-center">V. FORMA DE RECABAR LOS DATOS PERSONALES</h2>
<p>
    Para las finalidades señaladas en el punto IV del presente AVISO DE PRIVACIDAD, los DATOS PERSONALES pueden recabarse cuando el USUARIO los proporcione directamente, o bien utilice los servicios en línea contenidos en el SITIO WEB o a través de otras fuentes permitidas por la LEY. Los DATOS PERSONALES recabados pudieran ser:
    <ul>
        <li>Nombre.</li>
        <li>RFC.</li>
        <li>Domicilio.</li>
        <li>Ciudad.</li>
        <li>País.</li>
        <li>Empresa donde labora o actividad preponderante.</li>
        <li>Puesto.</li>
        <li>Teléfonos.</li>
        <li>Correo electrónico.</li>
        <li>Nombre de usuario.</li>
        <li>Entre otros.</li>
    </ul>
</p>


<h2 class="text-center">VI. DATOS PERSONALES SENSIBLES</h2>
<p>En aras de dar cumplimiento al punto IV del AVISO DE PRIVACIDAD, es probable que además se recaben diversos DATOS SENSIBLES del USUARIO tales como información financiera, planeación y competencia.</p>
<p>IMPULS se compromete a que los mismos serán tratados bajo las más estrictas medidas de seguridad que garanticen su confidencialidad. </p>


<h2 class="text-center">VII. LIMITACIÓN DE DATOS PERSONALES</h2>
<p>El USUARIO puede limitar los mensajes promocionales o publicitarios en caso de no desear recibirlos. Para ello, el USUARIO deberá enviar un correo electrónico a proteccion@impuls.com.mx especificando el tipo de mensajes que no desea recibir.</p>

<h2 class="text-center">VIII. DERECHOS ARCO</h2>
<p>El USUARIO tiene derecho a acceder, rectificar y cancelar los DATOS PERSONALES, así como a oponerse al tratamiento de los mismos o bien, revocar el consentimiento que para tal fin haya otorgado conforme a lo establecido la parte introductoria del AVISO DE PRIVACIDAD.</p>
<p>El USUARIO puede realizar su petición enviando un correo electrónico a proteccion@impuls.com.mx o por escrito a la siguiente dirección: Juan I. Ramón 305, Col. Centro, Monterrey, N.L. c.p. 64000. En la petición se deberá especificar el derecho ARCO (acceder, rectificar, cancelar u oposición) requerido.</p>
<p>Para mayor información, favor de comunicarse al departamento de privacidad al correo electrónico proteccion@impuls.com.mx</p>


<h2 class="text-center">IX. TRANSFERENCIA DE DATOS PERSONALES</h2>
<p>
    IMPULS se compromete a no transferir su información a terceros, salvo las excepciones previstas en el artículo 37 de la LEY y, en su caso, realizar las citadas transferencias respetando las condiciones especificadas en la misma.
    <div style="padding-left: 50px; padding-right: 50px;">


        Artículo 37.- Las transferencias nacionales o internacionales de datos podrán llevarse a cabo sin el consentimiento del titular cuando se dé alguno de los siguientes supuestos:
        <ol type="i">
            <li>Cuando la transferencia esté prevista en una Ley o Tratado en los que México sea parte;</li>
            <li>Cuando la transferencia sea necesaria para la prevención o el diagnóstico médico, la prestación de asistencia sanitaria, tratamiento médico o la gestión de servicios sanitarios;</li>
            <li>Cuando la transferencia sea efectuada a sociedades controladoras, subsidiarias o afiliadas bajo el control común del responsable, o a una sociedad matriz o a cualquier sociedad del mismo grupo del responsable que opere bajo los mismos procesos y políticas internas;</li>
            <li>Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en interés del titular, por el responsable y un tercero;</li>
            <li>Cuando la transferencia sea necesaria o legalmente exigida para la salvaguarda de un interés público, o para la procuración o administración de justicia;</li>
            <li>Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial, y</li>
            <li>Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el responsable y el titular.
                Si el USUARIO no manifiesta oposición para que los DATOS PERSONALES sean transferidos, se entenderá que ha otorgado su consentimiento para ello.</li>
        </ol>
    </div>
</p>
<p>Si el USUARIO no manifiesta oposición para que los DATOS PERSONALES sean transferidos, se entenderá que ha otorgado su consentimiento para ello. </p>
<h2 class="text-center">X. ACTUALIZACIÓN Y MODIFICACIÓN DEL AVISO DE PRIVACIDAD</h2>
<p>IMPULS se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al AVISO DE PRIVACIDAD, para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de los servicios o productos.</p>

<p>Las actualizaciones estarán a disposición del USUARIO a través del presente AVISO DE PRIVACIDAD o vía correo electrónico al último que haya proporcionado directamente en el SITIO WEB.</p>

<h2 class="text-center">XI. COOKIES Y WEB BEACONS</h2>
<p>
    Le informamos que el SITIO WEB utiliza COOKIES y WEB BEACONS para obtener información del USUARIO tal y como:
    <ul>
        <li>Tipo de navegador y sistema operativo.</li>
        <li>Las páginas de Internet previamente visitadas por el USUARIO.</li>
        <li>Los vínculos que el USUARIO sigue.</li>
        <li>La dirección IP.</li>
        <li>Entre otras relacionadas.</li>
    </ul>
</p>
<p>Estas cookies y otras tecnologías pueden ser deshabilitadas. Para conocer cómo hacerlo, consulte en la página de internet de su elección, o bien, envíe un correo a proteccion@impuls.com.mx</p>

<h2 class="text-center">XII. SISTEMA DE SEGURIDAD O PROTECCIÓN DE DATOS PERSONALES</h2>
<p>El SITIO WEB se encuentra protegido por un servidor seguro bajo el protocolo Secure Socket Layer (SSL), de tal forma que los datos enviados se transmitirán encriptados para asegurar su resguardo. Para verificar que se encuentra en un entorno protegido asegúrese de que aparezca “https” en la barra de navegación. La protección de los datos enviados a través del SITIO WEB no se garantiza al 100%, por lo que IMPULS se compromete a hacer todo lo posible por salvaguardar la información.</p>
<p>Adicionalmente contamos con el certificado de identidad proporcionado por una autoridad certificadora que le asegura que cada vez que accede a nuestra página: https://proveedores.impuls.com.mx está entrando al sitio seguro, al validar que la dirección de la página corresponda al registrado en el certificado.</p>

<h2 class="text-center">XIII. QUEJA POR USO INDEBIDO DE DATOS PERSONALES</h2>
<p>Si el USUARIO considera que su derecho de protección de DATOS PERSONALES ha sido lesionado por alguna conducta o presume que en el tratamiento de los DATOS PERSONALES existe alguna violación a las disposiciones previstas en la LEY, el USUARIO podrá interponer la queja o denuncia correspondiente ante el IFAI.</p>
<p>Para mayor información favor de visitar el hipervínculo www.ifai.org.mx</p>


    @section Scripts {
        <script type="text/javascript">

        </script>
    }
