@{
    ViewBag.Title = "TÉRMINOS Y CONDICIONES";

}


<h1 class="text-center">@ViewBag.Title</h1>

@Html.Raw(ViewBag.Politicas)


    @section Scripts {
        <script type="text/javascript">

        </script>
    }
