
@using Ppgz.Repository
@{
    ViewBag.Title = "Administración de Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Registros Procesados</h2>


@section Scripts {
    <script src="~/assets/dt/dataTables.buttons.js"></script>
    <script src="~/assets/dt/dataTables.buttons.min.js"></script>
    <script src="~/assets/dt/buttons.html5.min.js"></script>
    @*<script src="~/assets/dt/jquery.dataTables.min.js"></script>*@
    <script src="~/assets/dt/jszip.min.js"></script>
    <script src="~/assets/dt/pdfmake.min.js"></script>
    @*<script src="~/assets/dt/vfs_fonts.js"></script>*@
    <script type="text/javascript">

        document.title = "Modificaciones Buho"
        
    </script>
}

