<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="SatWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConsultaCFDIService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test02.cfdinova.com.mx/axis2/services/ValidadorIntegradores.ValidadorIntegradoresHttpsSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService"
                contract="CFDIService.ValidadorIntegradoresPortType" name="ValidadorIntegradoresHttpsSoap11Endpoint1" />

        </client>
    </system.serviceModel>
	<applicationSettings>
		<SatWrapper.Properties.Settings>
			<setting name="QueryString" serializeAs="String">
				<value>?re={0}&amp;rr={1}&amp;tt={2}&amp;id={3}</value>
			</setting>
		</SatWrapper.Properties.Settings>
	</applicationSettings>
</configuration>